# Django settings
SECRET_KEY=dev-insecure-secret-key-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# --- Cloudinary (Media Storage) ---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# For PostgreSQL (Production): postgres://db_user:db_password@db_host:5432/db_name
DATABASE_URL=sqlite:///db.sqlite3

# Security (Set to True in production with SSL)
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False


# DJANGO_SETTINGS_MODULE=config.settings.production
