{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-hero overlay inner-page bg-image"
    style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Dashboard</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'jobapp:job-list' %}">Job</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Dashboard</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">



                {% include 'messages.html' %}

                <div class="card">
                    {% if user.role == "employer" %}
                    <h5 class="card-header text-center">My All Posts</h5>
                    {% if jobs %}
                    <table class="table text-center mt-5">
                        <thead class="thead-dark">
                            <tr>
                                <th>Job Title</th>
                                <th>Posted Date</th>
                                <th>Date expiring</th>
                                <th>Applicants</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            <tr>
                                <td><a href="{% url 'jobapp:single-job' job.id %}">{{ job.title }}</a></td>
                                <td>{{ job.timestamp | date:'M d, Y'  }}</td>
                                <td>{{ job.last_date | date:'M d, Y' }}</td>
                                <td><a href="{% url 'jobapp:applicants' job.id %}"><i
                                            class="fa fa-users"></i>{{ job.applicants.count }}
                                        <span class="hidden-xs hidden-sm">Applicants</span> </a>
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="{% url 'jobapp:edit-job' job.id %}"
                                        role="button">Edit</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'jobapp:delete' job.id %}"
                                        role="button">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>You have not any job yet !! <a href="{% url 'jobapp:create-job' %}">Create a new one.</a></p>
                    {% endif %}
                    {% elif user.role == "employee" %}
                    <h5 class="card-header text-center">My Bookmarks Posts</h5>
                    {% if savedjobs %}
                    <table class="table text-center mt-5">
                        <thead class="thead-dark">
                            <tr>
                                <th>Job Title</th>
                                <th>Posted Date</th>
                                <th>Date expiring</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in savedjobs %}
                            <tr>
                                <td><a href="{% url 'jobapp:single-job' job.id %}">{{ job.job.title }}</a></td>
                                <td>{{ job.timestamp | date:'M d, Y'  }}</td>
                                <td>{{ job.job.last_date | date:'M d, Y' }}</td>
                                <td>
                          
                                    <a class="btn btn-danger btn-sm" href="{% url 'jobapp:delete-bookmark' job.id %}"
                                        role="button">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>You have not any save job yet !! </p>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
    </div>
</section>
{% endblock %}