{% extends 'base.html' %}
{% block content %}
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">{{ job.title }}</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <a href="#">Job</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>{{ job.title }}</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="site-section">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <div class="d-flex align-items-center">
          <div class="border p-2 d-inline-block mr-3 rounded">
            <img src="images/job_logo_5.jpg" alt="Image">
          </div>
          <div>
            <h2>{{ job.title }}</h2>
            <div>
              <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>Puma</span>
              <span class="m-2"><span class="icon-room mr-2"></span>{{ job.location }}</span>
              <span class="m-2"><span class="icon-clock-o mr-2"></span>
                <span class="text-primary">

                  {% if job.job_type == '1' %}
                    Full Time
                  {% elif job.job_type == '2'%}
                    Part Time
                  {% else  %}
                    Internship
                  {% endif %}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Save
              Job</a>
          </div>
          <div class="col-6">
            <a href="#" class="btn btn-block btn-primary btn-md">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="mb-5">
          <figure class="mb-5"><img src="images/job_single_img_1.jpg" alt="Image" class="img-fluid rounded"></figure>
          <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Job
            Description</h3>
         {{ job.description | safe }}
        </div>

        <div class="row mb-5">
          <div class="col-6">
            <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Save
              Job</a>
          </div>
          <div class="col-6">
            <a href="#" class="btn btn-block btn-primary btn-md">Apply Now</a>
          </div>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="bg-light p-3 border rounded mb-4">
          <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
          <ul class="list-unstyled pl-3 mb-0">
            <li class="mb-2"><strong class="text-black">Published on:</strong> {{ job.timestamp|date:"d M Y" }}</li>
            <li class="mb-2"><strong class="text-black">Employment Status:</strong>                  
               {% if job.job_type == '1' %}
                  Full Time
                {% elif job.job_type == '2'%}
                  Part Time
                {% else  %}
                  Internship
            {% endif %}</li>
            <li class="mb-2"><strong class="text-black">Job Location:</strong> {{ job.location }}</li>
            <li class="mb-2"><strong class="text-black">Salary:</strong> {{ job.salary }}</li>
            <li class="mb-2"><strong class="text-black">Application Deadline:</strong> {{ job.last_date|date:"d M Y" }}</li>
          </ul>
        </div>

        <div class="bg-light p-3 border rounded">
          <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Share</h3>
          <div class="px-3">
            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="site-section" id="next">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">{{ total }} Related Jobs</h2>
      </div>
    </div>

    <ul class="job-listings mb-5">
      {% for job in related_job %}
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="job-single.html"></a>
          <div class="job-listing-logo">
            <img src="images/job_logo_1.jpg" alt="Image" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>{{ job.title}}</h2>
              <strong>Adidas</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> {{ job.location }}
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-danger">           
                  {% if job.job_type == '1' %}
                    Full Time
                  {% elif job.job_type == '2'%}
                    Part Time
                  {% else  %}
                    Internship
                  {% endif %}
              </span>
            </div>
          </div>
        </li>
      {% endfor %}


    </ul>

    <div class="row pagination-wrap">
      <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
        <span>Showing 1-7 Of 22,392 Jobs</span>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="custom-pagination ml-auto">
          <a href="#" class="prev">Prev</a>
          <div class="d-inline-block">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
          </div>
          <a href="#" class="next">Next</a>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock content %}