


  <div class="row mb-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <input type="text"  name="job_title_or_company_name" class="form-control form-control-lg" placeholder="Job title, Company...">
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <input type="text"  name="location" class="form-control form-control-lg" placeholder="Location">
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <select  name="job_type" class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true"
        title="Select Job Type">
        <option value="1">Full Time</option>
        <option value="2">Part Time</option>
        <option value="3">Internship</option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
          class="icon-search icon mr-2"></span>Search Job</button>
    </div>
  </div>
